<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-title-column">
            <div class="navbar-logo-container">
                <img
              className="navbar-logo-img"
              src="../../../assets/images/fon-logo-cyr.png"
              alt="Logo"
            />
            </div>
            <div class="navbar-separator"></div>
            <div class="navbar-text-container">
                <span class="navbar-title">University of Belgrade</span>
                <span class="navbar-subtitle">Faculty of Organizational Sciences</span>
            </div>
        </div>
    </div>
</div>