<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-title-column">
            <div class="navbar-logo-container">
                <img
              className="navbar-logo-img"
              src="../../../assets/images/fon-logo-cyr.png"
              alt="Logo"
            />
            </div>
            <div class="navbar-separator"></div>
            <div class="navbar-text-container">
                <span class="navbar-title">University of Belgrade</span>
                <span class="navbar-subtitle">Faculty of Organizational Sciences</span>
            </div>

        </div>
        <mat-form-field>
            <mat-label>Choose language:</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="lat">Srpski(lat)</mat-option>
              <mat-option value="cyr">Srpski(cyr)</mat-option>
              <mat-option value="eng">Engleski</mat-option>

            </mat-select>
          </mat-form-field>
    </div>
</div>